{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

<div class="container">

    <canvas id="fractieChart" width="400" height="200"></canvas>

</div>

{% endblock %}

{% block scripts %}

<script>
    const ctx = document.getElementById('fractieChart').getContext('2d');
    const fracties = {{ fracties | tojson }};
    const labels = fracties.map(f => f.name);
    const data = fracties.map(f => f.seats);

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Seats',
                data: data,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}
