{% extends "base.html" %}

{% block title %} Overzicht van Zaken {% endblock %}

{% block content %}
<!-- TODO: Add filter for date, onderwerp, indiener, aangenomen/niet aangenomen, zaak type (motie, wetsvoorstel, etc.) -->
<div class="container">
    <h1 class="text-center mb-4">Overzicht van Alle Zaken</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Zaaknummer</th>
                <th scope="col">Beschrijving</th>
                <th scope="col">Resultaat</th>
            </tr>
        </thead>
        <tbody>
            {% for zaak in zaken %}
            <tr>
                <td><a href="{{ url_for('zaak_detail', zaak_nummer=zaak.nummer) }}">{{ zaak.nummer }}</a></td>
                <td>{{ zaak.beschrijving }}</td>
                <td>{{ zaak.resultaat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}